# put your JSSpeccy settings here and rename to .env (it won't run without this)
# you can delete any you don't need - defaults will be used
PROGRAM=
FOLDER=
MACHINE=
AUTOLOADTAPES=
TAPEAUTOLOADMODE=
KEYBOARDENABLED=
UIENABLED=
TAPETRAPSENABLED=